<div class="navbar-fixed">
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo logo">
        <i class="material-icons">hotel</i> Hotel la Luz</a
      >
      <ul class="right hide-on-med-and-down">
        <li><a href="/habitacion">Habitaciones</a></li>
        <li><a href="/atraccion">Atracciones turisticas</a></li>
        <li ><a href="/politica">Politicas</a></li>
        <li ><a href="/contactolista">Mensajes</a></li>
        <li><a href="/forpago">Forma de pago</a></li>
        <li><a href="/infogen">Informacion General</a></li>
        <li ><a href="/ofertas">Ofertas</a></li>
        <li ><a href="/paqutes">Paquetes</a></li>
        <li><a href="/tipohab">Tipo Habitacion</a></li>
        <li><a href="/usuario">Usuario</a></li>
        <li><a href="/ocupacion">Ocupacion</a></li>
        
        <li><a (click)="onLogout()" value="Logout"><i class="material-icons right">power_settings_new</i>Cerrar Sesion</a></li>
        
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/habitacion">Habitaciones</a></li>
        <li><a href="/atraccion">Atracciones turisticas</a></li>
        <li ><a href="/politica">Politicas</a></li>
        <li ><a href="/contactolista">Mensajes</a></li>
        <li><a href="/forpago">Forma de pago</a></li>
        <li><a href="/infogen">Informacion General</a></li>
        <li ><a href="/ofertas">Ofertas</a></li>
        <li ><a href="/paqutes">Paquetes</a></li>
        <li><a href="/tipohab">Tipo Habitacion</a></li>
        <li><a href="/usuario">Usuario</a></li>
        <li><a href="/ocupacion">Ocupacion</a></li>
        
        <li><a (click)="onLogout()" value="Logout"><i class="material-icons right">power_settings_new</i>Cerrar Sesion</a></li>
        
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
    </div>
  </nav>
