<app-principal></app-principal>
<section >
  
      <img src="../../../../assets/img/slider.png" width = " 100% "  height = " 450 "  frameborder = " 0 "  style = " border : 1 "  allowfullscreen />
      <!-- random image -->
      
   

</section>

<section>

<h3 class="center">Habitaciones</h3>
<div class="row">
  <div class="col s12 m6 l3">
    <div class="card small">
      <div class="card-image">
        <img src="../../../../assets/img/1.jpg" />
        <span class="card-title">Doble</span>
      </div>
      <div class="card-content">
        <p>
          2 camas individuales, Wifi, agua caliente, bañera
        </p>
      </div>
      <div class="card-action"><a >$400</a></div>
    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card small">
      <div class="card-image">
        <img src="../../../../assets/img/2.jpeg" />
        <span class="card-title">King-size</span>
      </div>
      <div class="card-content">
        <p>
           1 cama matrimonial, Wifi, agua caliente, bañera
        </p>
      </div>
      
      <div class="card-action"><a >$400</a></div>
    </div>
  </div>
  
  <div class="col s12 m6 l3">
    <div class="card small">
      <div class="card-image">
        <img src="../../../../assets/img/3.jpg" />
        <span class="card-title">Presidencial</span>
      </div>
      <div class="card-content">
        <p>
         1 cama matrimonial, Wifi, agua caliente, bañera, frigobar, sala, no aplica fines de semana
        </p>
      </div>
      <div class="card-action"><a href="#">$400</a></div>
    </div>
  </div>
</div>
<section class="section section-follow black darken-2 white-text">
  <div class="container">
    <div class="row">
      <div class="col s6 center">
        <h4> Ubicación</h4>
      </div>
    </div>
  </div>
</section>

  
  <iframe
    src = "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14851.244365859153!2d-101.2162866!3d21.4759277!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1aa91fd0af443d5a!2sHotel+la+Luz!5e0!3m2!1ses-419!2smx!4v1566179363495!5m2!1ses-419!2smx" 
    width = " 100% "  height = " 450 "  frameborder = " 0 "  style = " border : 1 "  allowfullscreen >
  </iframe  >


<app-footer></app-footer>
