<app-index></app-index>
<div class="container">
  
    <div class="col s10 m10">
      <div class="card">
        <div class="card-content">
          
          <!--Lista-->
          <div class="col s7">
            <table id="taboculta" class="striped highlight black-text">
              <thead>
                <th>Habitación</th>
                <th>Entrada</th>
                <th>Salida</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Comentarios</th>
                <!--<th>Operaciones</th>-->
              </thead>
              <tbody>
                <tr *ngFor="let ocupacion of ocupacionService.ocupacion">
                  <td>{{ ocupacion.habitacion }}</td>
                  <td>{{ ocupacion.entrada }}</td>
                  <td>{{ ocupacion.salida }}</td>
                  <td>{{ ocupacion.nombre }}</td>
                  <td>{{ ocupacion.telefono }}</td>
                  <td>{{ ocupacion.comentarios }}</td>
                  <!--<td>
                    <a href="ocupacion" (click)="editOcupacion(ocupacion)">
                      <i class="material-icons">edit</i>
                    </a>
                    <a (click)="deleteOcupacion(ocupacion._id, ocupacionForm)">
                      <i class="material-icons">delete</i> 
                    </a>
                  </td> -->
                </tr>
              </tbody>
            </table>

            <div class="row form-group pr-sm-4 pl-sm-4">
              <button type="button" class="btn btn-outline-light"
                (click)="generarPDF()" ><i class="material-icons right">local_printshop</i>Ocupaciones PDF</button>  
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
</div>

<app-footer></app-footer>